# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Backend datasource
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/jobfinderdb
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

# JWT
JWT_SECRET_KEY=

# Email
SUPPORT_EMAIL=
SUPPORT_PASSWORD=

# Cloudinary
CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=

# Gemini
GEMINI_API_KEY=
GEMINI_API_URL=
